body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

div {
  display: block;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
#selectable {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  width: 75%;
}

.ui-widget-content {
    border: 2px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    text-align: left;
    color: #454545;
    height: 70px;
    padding-top: 2%;
    }


/* #selectable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}  */


ol {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} 

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  border: black;
  margin-top: 0px;
  padding: 10 10 10 10px;
}

.hourBox {
  /* display: block; */
  /* text-align: center; */
  display: block;
  text-align: center;
  /* vertical-align: middle; */
  width:  90px;
  height: 90%;
  border-style: dashed;
  background-color: aliceblue;
  /* height: 200px;   */
  /* padding: 2% 1% 2% 1%;  */ */
  /* width: 100px; */
  margin: 0; 
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
